body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#jogoCanvas {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}

#jogoCanvas {
  width: 800px;
  height: 600px;
}

@media (max-width: 600px) {
  #jogoCanvas {
    width: 100%;
    height: auto;
  }
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#imgpersonagem {
  width: 200px;
  height: 200px;
}

#guessTitulo {
  color: #000000;
  margin: auto 0px;
}

#gameContainer {
  position: relative;
}


#htmlContent {
  position: absolute;
  top: 0;
  left: 0;

}

.disable-scroll {
  overflow: hidden;
}



#indicadoresCarrosel {
  margin-top: 50px !important;
  padding: 8px;
  border-radius: 20px;
  bottom: 0;
  position: absolute;
}

.indicadorTutorial[data-slide-to] {
  background-color: #8a6da2d7;
}

#indicadoresCarrosel .active {
  background-color: #623f80e7 !important;
}

#carroselInner {
  margin-bottom: 50px;
}

.carousel_item {
  margin-bottom: 100px;
}

.instrucao {
  max-width: 80%;
  height: auto !important;
  border-radius: 5px;
}

.imgInstrucao {
  width: 50%;
  max-width: 100%;
  margin: auto;
}

#imgInstrucao{
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  max-width: 100%;
  margin: auto;
}

#txtOla {
  margin-top: 30px;
}

#smallInstrucao{
  font-size: 14px;
  color: #623f80;
  font-weight: 500;
}
.txtsJogo {
  margin: auto;
  width: auto;
  max-width: 75%;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
@media (max-width: 768px) { /* Media query para telas com largura máxima de 768px */
  .txtsJogo{
    font-size: 20px; /* Tamanho da fonte para telas menores */
  }
}

@media (max-width: 400px) { /* Media query para telas com largura máxima de 768px */
  .txtsJogo{
    font-size: 16px; /* Tamanho da fonte para telas menores */
  }
}

#next_jogo,
#ante_jogo {
  color: #ffffff;
  background-color: #623f80;
  border-radius: 20px;
  padding: 8px;
  top: 60%;
  width: 30px;
  height: 30px;
  background-size: cover;
}

#next_jogo:hover,
#ante_jogo:hover {
  color: #efff14;
  background-color: #623f80;
}

#popup_instrucoes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: auto;
}

#instrucoes {
  max-width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}




/* Outros estilos já existentes */


#txt_jogo {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Noto Sans Nag Mundari';
  font-size: 40px;
  color: #194d69;
  width: 100%;
}

.txt_patente {
  margin-bottom: 40px;
  color: #194d69;
}

#botaoajudajogo {
  margin-top: 40px;
}