/* Código para o botão de mudar o modo */
#labelModoEscuro {
    position: relative;
    display: inline-block;
    background: #a7a7a7;
    border-radius: 200px;
    cursor: pointer;
    width: 60px;
    height: 30px;
  }
  
  #labelModoEscuro:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  #alternar-modoescuro {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  #alternar-modoescuro:checked + #labelModoEscuro {
    background: #242424;
  }
  
  #alternar-modoescuro:checked + #labelModoEscuro:after {
    left: calc(100% - 25px);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  
  #labelModoEscuro,
  #labelModoEscuro:after {
    transition: 0.3s;
  }
  
  #labelModoEscuro:active:after {
    width: 35px;
    left: 50%;
    transform: translate(-50%);
  }
  
  #labelModoEscuro i {
    position: absolute;
    top: 15px;
    z-index: 100;
  }
  
  #labelModoEscuro #solIcon {
    left: 12%;
    color: #fff;
    transition: 0.3s;
}

#alternar-modoescuro:checked + #labelModoEscuro #solIcon {
    color: #7e7e7e;
}

#labelModoEscuro #luaIcon {
    left: calc(100% - 20px);
    color: #7e7e7e;
    transition: 0.3s;
}

#alternar-modoescuro:checked + #labelModoEscuro #luaIcon {
    color: #fff;
}


 /* Fim do código para mudar o botão de modo */

body.modo-escuro{
    background-color: #1c1c1e;
  }

  /*jogooo*/

  body.modo-escuro  .txt_patente{
    color: #e9d7f9;
  }
/* field da pagina de edicao */
body.modo-escuro #field_edicao_usuario{
background-color: rgb(118, 61, 146);
color: #fff;
}

/* sessao["msg"] */
body.modo-escuro .alert-success{
    color: #e9d7f9 !important;
    background-color: #000000da !important;
    box-shadow: 2px 1px 15px #000100da;
  }


/*carrosel pagina inicial*/

body.modo-escuro #texto_inicial_edu,
body.modo-escuro #texto_inicial_ana,
body.modo-escuro #texto_inicial_gabi{

    background-color: #000000df !important;
    color: #d5b4f2;
}

body.modo-escuro .destaque{
  color: #ffffff;
}

body.modo-escuro #Ana_img,
body.modo-escuro #Edu_img,
body.modo-escuro #Gabi_img {

    background-color: #000000ce;

}
/* titulos das paginas */
body.modo-escuro #txt_portal, body.modo-escuro #tituloNoticia, body.modo-escuro #txt_alteraSenha, body.modo-escuro #tituloTecido, body.modo-escuro #txt_portal2, body.modo-escuro #meus_dados, body.modo-escuro #duvidas_frequentes, body.modo-escuro #txt_tecidos, body.modo-escuro #txt_jogo{
    color: #e9d7f9;   
}

body.modo-escuro #duvidas{
  color: white;
}

/* cor dos cards de tecido */
body.modo-escuro #tecido_usu{
  background-color: #e9d7f9c5;
  color: #330542dd;
}

/* formularios e etc */
body.modo-escuro #formAlteraSenha{
  color: #e9d7f9c5;
}

/* alerts / modais */
body.modo-escuro .swal2-popup, body.modo-escuro .swal2-radio, body.modo-escuro .swal2-range{
  background-color: #2d2d2d !important;
  color: #fff;
}
/* pagina de duvidas */
body.modo-escuro #carrosel_duvidas{
  background-color: #15011dc7;
  box-shadow: 2px 2px 6px #000000c7;
  color: white;
}

body.modo-escuro #next, body.modo-escuro #ante{
  color: #ffffff;
  background-color: #b35ffd;
}

body.modo-escuro #enviarDuvida{
  background-color: #b35ffd9a;
  color: #ffffff;
}

body.modo-escuro #enviarDuvida:hover{
  background-color: #b35ffdd7;
  color: #ffffff;
}

/* barra de navegação */
body.modo-escuro #icone_sobrenos:hover, body.modo-escuro #menu_home:hover, body.modo-escuro #icone_home:hover, body.modo-escuro #menu_portal:hover, body.modo-escuro #menu_tecidos:hover, 
body.modo-escuro #game:hover,  body.modo-escuro #icone_game:hover,  body.modo-escuro #icone_menu:hover,  body.modo-escuro #menu_m:hover, 
body.modo-escuro #ajuda:hover, body.modo-escuro #icone_ajuda:hover{
  background-color: #000000;
  color: #e5cdf9;
}

body.modo-escuro .dropdown-menu{
  background-color: #000000d1;
}
body.modo-escuro .dropdown-item{
  color: #ffffff;
}
body.modo-escuro .dropdown-item:hover{
  background-color: #000000;
}

body.modo-escuro .nav-link{
  background-color: #240f36;
  color: #ffffff;
  border: 0.5px solid rgba(221, 221, 221, 0);
 
}

body.modo-escuro nav{
  box-shadow: 2px 2px 6px #000000;
}

body.modo-escuro #icone_sair {
  color: #ffffff;
}
/* site externo: */

body.modo-escuro .field_site_externo, body.modo-escuro .link_site_externo {
  background-color: #e9d7f9c5 !important;
  color: #330542b3 !important;
}

body.modo-escuro .active .numeracao, body.modo-escuro .active .numeracao_adm{
  background-color: #8d5fb6 !important; /* Cor de fundo quando o botão está ativo */
  color: #ffffff !important; /* Cor do texto quando o botão está ativo */
  border: none;
}
body.modo-escuro .numeracao, body.modo-escuro .numeracao_adm{
  border: none;
  margin: 3px;
  color: #ffffff !important;
  background-color: #623f80;
}