#body_login{
    background-color: #ebfbd1;
}


#texto_inicial{
    margin-top: 150px;
    text-align:justify;
    color: #172a00;
}
.forms{
    border-radius: 20px;
}

#forms_login{
    
    border-radius: 20px;
    background-color: #98a768;
    padding: 25px;
    padding-top: 30px;
    text-align: left;
    color:#172a00;
    width: 100%;
}

#login_i{
    background-color: #83000000;
    margin: 180px auto;
}

#legend_login{
    margin: auto;
    text-align: center;
}
#logo{
    width: 40%;
}
