* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#esqueceuSenha{
    text-decoration: none;
    color: #350046;
    font-size: 10pt;
    text-align: center;
    padding-bottom: 10px;
}

#body_login{
    background-color: #703b7f;
}

.navbar-toggler:focus {
    outline: none;
  }
  

#escurecendo-body{
    background-color: #00000091;
    margin-top: 0%;
}

.texto_inicial{
    margin-top: 35%;
    text-align:center;
    color: #F1E9E9;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

#senhahelp{
    color: #364230;
    margin-top: 5px;
    margin-left: 20px;
    padding-bottom: 0px;
}
.forms{
    border-radius: 20px;
}

#forms_login{
    margin-top:50px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
    background-color:#b3d39e ;
    padding: 25px;
    padding-top: 8px;
    text-align: left;
    color:#364230;
    width: auto;
    box-shadow:  3px 3px 2px #000000a9;
    font-size: clamp(0.8em, 0.8em + 1vw, 1.2em);
    font-weight: 500;
    padding-bottom: 45px;

}

#apelido_login, #senha_login{
    border-radius: 20px;   
}

#apelido_login:focus, #senha_login:focus{
    color: #2c5300;
    box-shadow: 0 0 3px #2c5300;
    border: #2c5300;
    
}


#login_i{
    background-image: url("fundo_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    backdrop-filter: brightness(25%);
    background-color: #83000000;
    width: auto;
}

#legend_login, #legend_avatar{
    margin: auto;
    text-align: center;
    
}

#logo{
    width: 40%;
}


#btnnovaconta{
    background-color: #8d60b4;
    color: #fdfffa;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    margin-top: 3%;

}

#btnlogin{
    background-color: #432b58;
    color: #fcfff8;
    border-radius: 15px;
    width: 100%;
    border: none;
    margin-bottom: 3%;
    font-weight: 400;
}

#btnlogin:hover{
    background-color: #623f80;
    color: #d1f5a1;
}

#btnnovaconta:hover{
    background-color: #572a80;
    color: #d1f5a1;
}

#botao_inserir{
    width: 100%;
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
}

#modalNovoUsuario{
    margin-top: 5%;
}

#rodape_login{
    background-color: #623f80;
    color: #67b16d;
    clear: both;
    position: relative;
    margin-top: auto;
    padding-top: 20px;   
    text-decoration: none;
    z-index: 999;
    text-align: center;
    height: auto;
    width: auto;
}

#sobre_nos_login{
    text-decoration: none;
    color: #89e791;
}

#icon{
    position: relative;
    left: 88%;
    transform: translateY(-120%);
    background: URL('mostrar.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#icon.ocultar {
    background: URL('ocultar.png');
    background-size: cover;
}

#icon_edicao{
    position: absolute;
    margin-top: -4%;
    right: 30px;
    transform: translateY(-50%);
    background: URL('mostrar.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#icon_edicao.ocultar{
    background: URL('ocultar.png');
    background-size: cover;
}
  
#icon_cadastro {
    position: relative;
    left: 92%;
    transform: translateY(-120%);
    background: URL('mostrar.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#icon_cadastro.ocultar {
    background: URL('ocultar.png');
    background-size: cover;
}

/* sobre nós */

#txt_sobre_nos{
    padding-bottom: 25px;
    font-style:normal;
    /*font-variant:small-caps;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f7eeff;
    font-weight: bold;
    text-align: center;
    font-size: auto;
    padding-top: 40px;
    width: auto;
    margin: auto;
}

.iconeRedeSocial{
   margin-top: 10px;
}

#texto_inicial_edu2, #texto_inicial_ana2, #texto_inicial_gabi2,#texto_inicial_nois{
    text-align: center;
    margin: auto;  
    font-size: clamp(0.8em, 0.8em + 1vw, 1.2em);
    width: auto;
    background-color: #f5edffdb;
    color: #653292;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-radius: 200px;
}

#texto_inicial_edu2, #texto_inicial_ana2, #texto_inicial_gabi2{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-radius: 200px;
}

#Ana_img2, #Edu_img2, #Gabi_img2{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    background-image: url("fundo_login.jpg");
    border-radius: 100%;
    padding: 0px;
}

#nois{
    width: 100%;
    margin-bottom: 50px;
    background-image: url("fundo_login.jpg");
    border-radius: 200px;
    padding: 0px;
}

#sobre_nos_ana, #sobre_nos_edu, #sobre_nos_gabi{
   
    display: inline-block;
   
}

#sobre_nos_pgn{
    background-color: #703b7f;
}

#row_sobre_nos{
    margin-bottom: 50px;
}

#carrosel_sobrenos{
    
        display: block;
        object-fit: cover; 
        padding: 30px;
        border-radius: 100px;
        margin: auto;
        width: auto;
        height: auto;
}

#corpo_carrosel{
    height: auto;
    padding-bottom: 120px;
}

.negrito{
    font-weight: bold;
}

/*#avatar_ana{
    margin-bottom: 10px;
}*/

/* EDIÇÃO USUÁRIO */

#meus_dados{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #194d69;
    font-size: 24pt;
}
#field_edicao_usuario{
    text-align: left;
    background-color: #e9e2f0;
    padding: 20px;
    border-radius: 20px;
    color: #60006d;
    box-shadow:  2px 2px 5px #a18eaaa9;
    margin-bottom: 100px;
}

#botao_editar_usuario, #botao_editar{
    background-color: #256c92;
    border-color: #1b5c80;
    border: none;
    color: #fff;
    width: 100%;
}

#botao_editar_usuario:hover, #botao_editar:hover{
    background-color: #1e5c7e;
    border-color: #164b68;
}

#modal_tecidos{
    text-align: left;
}

#checkbox{
    text-align: center;
}

#txt_tecidos{
    color: #194d69;
}

#avatarRadio{
    width: 20%;
}

.avatar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .avatar-radio {
    display: none;
  }
  
  .avatar-radio + label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 50%;
    flex-basis: calc(25% - 15px);
    transition: all 0.2s ease-in-out;
  }
  
  .avatar-radio:checked + label {
    border-color: #73ccff;
  }
  
  .avatar-radio + label img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
  
  .avatar-radio:checked + label img {
    filter: brightness(90%);
  }

/* NAVEGAÇÃO */

#btnmeuperfil{
    cursor: pointer;
}

.navbar-brand img{
    margin-top: 7px;
}

.btnmeuperfil:hover{
    color: black;
}

#icone_game, #icone_perfil, #avatarMenu, #icone_sair{
    vertical-align: middle;
}

#icone_perfil, #avatarMenu, #icone_sair{
    margin-right: 10px;
}

#icone_sair{
    color: #2c5300;
}

 #avatarMenu{
    width: 30%;
    margin-right: 10px;
    margin-left: -5px;
}


#button_perfil{
    cursor: pointer;
}


#icone_sobrenos:hover, #menu_home:hover, #icone_home:hover, #menu_portal:hover, #menu_tecidos:hover, #game:hover, #icone_game:hover, #icone_menu:hover, #menu_m:hover, #ajuda:hover, #icone_ajuda:hover{
        background-color: #240f36;
        color: #efff14;
}

.nav-link{
    background-color: #f1f7e0;
    color: #2d4931;
    margin-right: 15px;
    border-radius: 55px;
    border: 0.5px solid rgba(221, 221, 221, 0);
    align-items: center;  
    height: 45px;
    min-width: 65px;
}

.dropdown-item{
    border: 1px solid black;
}
.navbar-brand{
    height: 75px;     
}

.container{
text-align: center;
}


nav{
    border: none;
    background-color: #623f80;
    box-shadow:  2px 2px 5px #a18eaaa9;
    margin-bottom: 20px;
}

#menu_ajuda{
    margin-left: 230px;
}

/* PÁGINA TECIDOS */

/* Aparenta inutilidade mas vou deixar aq pq né
.card{
    align-items: center;
    margin-top: 40px;
    text-align: center;
    width: 18rem;
    height: 25rem;
    margin-right: 20px;
}
*/
.btn-purple {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
  }
.btn-purple:hover{
    color: #eedeff;
}

.btn-purple-circulo{
    color: #fff;
    background-color: #5f2d8d;
    border-color: #5f2d8d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.btn-purple-circulo:hover{
    color: #e9ddff;
    color: #f3e8ff;
    cursor: pointer;
}
  

#container-tecidos{
    display: block;
}

#imgtecido1, #imgtecido2, #imgtecido3{
    width: 80%;
}

#tecidos{
    margin-bottom: 100px;
    margin-top:50px;

}

#tecido1, #tecido2, #tecido3{
    background-color: #f5eff5;
    padding: 30px;
    border: none;
    border-radius: 30px;
    height: auto;
    width: 320px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px #31313156;
   
}


.tecido{
    background-color: #f5eff5;
    padding: 30px;
    border: none;
    border-radius: 30px;
    height: max-content;
    width: 320px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px #31313156;
}
 
#card1{
    width: auto;
    height: auto;
}

#card2{
    width: auto;
    height: auto;
}

#card3{
    width: auto;
    height: auto;
}


#btncadastrartecido:focus, #botao_inserir_tecido:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#btncadastrartecido:hover{
    background-color: #1e6c96;
    color: #f0f8e5;
}

#btncadastrartecido{
    background-color: #175f86;
    color: #f0f8e5;
    border: none;  
}

#botao_inserir_tecido{
    width: 100%;
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
}

#saibamais{
    background-color: #5f2d8d;
    color: #ffffff;
    border: none;
}

#row_cadastrar{
    margin-top: 20px;
}

.btndelete, .btnedit{
    border: none;
    border-radius: 3px;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px;
    color: white;
}

.btndelete:hover, .btnedit:hover{
    border: none;
    box-shadow: 0 0 2px #364230;
}

.btndelete:focus, .btnedit:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btndelete{
    background-color: #ff1c1c;
}

.btnedit{
    background-color: #5f2d8d;
}

#btndelete1, #btndelete2, #btndelete3, #btnedit1, #btnedit2, #btnedit3{
    color: #ffffff;
    border: none;
}


/* PORTAL DE NOTÍCIAS */

#carrosel{
    border-radius: 300px;
    margin: auto;
    width: 800px;
    height: 500px;
    box-shadow: 2px 2px 6px #00000018;
    margin-top: 20px;
    margin-bottom: 7%;
}

#txt_portal, #txt_portal2{
    margin-top: 10px;
    margin-bottom: 20px;  
    text-align: center;  
    color: #194d69;
}

#portal_de_noticias{
    min-height: calc(100vh - 100px);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#filtros_menu{
    width: 320px;
}

.img_carrosel{
    border-radius: 300px;
    width: auto;
    margin: auto;
    width: 800px;
    height: 500px; 
    box-shadow: 2px 2px 6px #00000018;
    object-fit: cover;
    filter: brightness(0.45);
    margin-bottom: 100px;
}
  #filtros_{
    background-color: #581b69;
    border: none;
    color: #d1f5a1;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 180%;
}
#filtros_menu{
    width: 180%;
}
#btn_filtros{
    background-color: #194d69;    
    border: none;
    color: #ffffff;
    margin-left: 10px;
    width: auto;
    left: 0;
}

#btn_filtros:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#seta_filtro{
    vertical-align: middle;
}

#btn_pesquisar_noticia{
    width: auto;
align-items: right;
}

/* rodapé */

#divenviarEmail{
    margin-top: 2%;
    margin-bottom: 2%;
}

#enviarEmail{
    background-color: #4b0b69;
    padding: 12px;
    border-radius: 50px;
}

#enviarEmail:hover{
    background-color: #370a4d;
}
#icone_gmail{
    
    width: 2%;
    margin-bottom: 3px;
}

#conteudo {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conteudo_token_novasenha {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rodape {
    background-color: #623f80;
    color: #b3d39e;
    position: relative;
    margin-top: auto;
    clear: both;
    bottom: 0;
    left: 0;
    width: 100%;        
    padding-top: 20px;   
    text-decoration: none;
    box-shadow: 3px 3px 5px 3px #1b1025;
    z-index: 999;
}

#sobre_nos{
    color: #89e791;
}

#sobre_nos:hover{
    text-decoration: none;
    color: #a6ffad;
}

#copy-area{
    background-color: #350046;
    text-decoration: none;
    padding-top: 20px;
}


/* site externo */

.field_site_externo{
   border: none;
   background-color: #f0f8e5;
   margin-top: 20px;
   text-align: left;
   padding-left: 20px;
   padding-top: 15px;
   border-radius: 8px;
   height: auto;
   box-shadow:  3px 3px 10px #1d421f49;
}

.field_site_externo:hover{
    background-color: #e0fcb983;
}

#todos_field{
    margin-bottom: 160px;
    margin-top: 10px;
}

.link_site_externo{
    text-decoration: none;
    color: #580f6e;
}

.link_site_externo:hover{
    text-decoration: none;
    color: #580f6e;
}

#icone_voltar_noticias{
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
    border-radius: 20px;
    padding: 8px;
    vertical-align: middle;
    box-shadow: 3px 3px 8px #580f6e18;

}

#icone_voltar_noticias:hover{
    background-color: #580f6e;
    color: #f0f8e5;
    box-shadow: 3px 3px 8px #580f6e18;

}

#icone_voltar_noticias:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#filtros_menu2{
    width: 310px;
}



#visaoadm_noticias, #visaousu_noticias{
    border-radius: 20px;
    font-size: 10pt;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 8px;
    background-color: #623f80;
    color: #f0f8e5;
    margin-top: 20px;
    box-shadow: 3px 3px 10px #432b5813;
}


#btncadastrarnoticia{
    margin-right: 10px;
    width: 50px;
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
}

#btncadastrarnoticia:focus{
    box-shadow: 0px 0px 8px #5e397e42;
    outline: 0;
}

#filtros2_{
    background-color: #581b69;
    border: none;
    color: #d1f5a1;
    vertical-align: middle;
    margin-top: 10px;
    width: 310px;
}

#filtros3_{
    background-color: #581b69;
    border: none;
    color: #d1f5a1;
    vertical-align: middle;
    margin-top: 10px;
    width: 360px;
}

#filtros_menu3{
    width: 360px;
}
.btns_noticias{
    margin-bottom: auto;
    margin-top: auto;
    text-align: left;    
    vertical-align: middle;
}

#todos_field_adm{
    margin-bottom: 160px;
    margin-top: 10px;
}

.modal{
    text-align: left;
}

#voltar_adm{
    background-color: #00000000;
}

#botao_inserirnoticia{
    background-color: #623f80;
    color: #efff14;
    border: none;
}    

    #botao_inserirnoticia:hover{
    background-color: #422758;
    color: #efff14;
    border: none;
}


/* Imagens página incial */

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
  }
  .carousel-indicators li {
    color: #efff14 !important; 
  }
  .indicador{
    color: #efff14;
  }

#carroselIntrod{
    background-image: url("fundo_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    background-color: #67b16d00;
    display: inline-block;
    border-radius: 300px;    
    margin: auto;
    width: 1000px;
    height: auto;
    box-shadow: 2px 2px 6px #00000018;
    object-fit: cover;
}

#ecoAge_inicial{
    font-size: 14pt;
    color: #580f6e;
    font-weight: bold;
}
.nosso_nominho{
    color: #350046;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
}

.nosso_nominho:hover{
    color: #350046;
    text-decoration: none;
}

#menu_home_paginaI{
    background-color: #422758;
    color: #efff14;
}


#Ana_img, #Edu_img, #Gabi_img{
    width: 200px;
    margin: auto;
    margin-top: 20%;
    background-color: #eef8efdb;
    border-radius: 200px;
    padding: 0px;
}
.carroselInicial{
    height: auto;
    width: auto;
    margin: 8% auto;
    vertical-align: middle;
    align-items: center;    
    display: flex;
}

.destaque{
    color: #6f3295;
    font-size: 14pt;
    font-weight: 500;
}

#texto_inicial_edu, #texto_inicial_ana, #texto_inicial_gabi{
    text-align: center;
    margin: auto;  
    margin-left: 4%;
    font-size: 13pt;
    background-color: #eef8ef;
    color: #653292;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    border-radius: 200px;
}

#apresentacao_home{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* pagina de ajuda/duvidassss */
#duvidas_frequentes {
    text-align: center;
    color: #164b68;
    margin-top: 20px;
}

#caixas_duvidas{
    margin-top: 30px;
    margin-bottom: 50px;
}


#duvida1, #duvida2, #duvida3, #duvida4{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    display: block;
    margin: auto;
    width: 100%; 
    height: auto;
}

#next, #ante{
    color: #ffffff;
    background-color: #623f80;
    border-radius: 20px;
    padding: 8px;
    margin-left: 50px;
    margin-right: 50px;
}

#next:hover, #ante:hover{
    color: #efff14;
    background-color: #623f80;
}


#carrosel_duvidas{
    object-fit: cover; 
    padding: 30px;
    border-radius: 100px;
    width: 100%;
    height: auto;
    background-color: #aeca9346;
    box-shadow: 2px 2px 6px #00000018;
}

#pagina_de_duvidas{
    margin-bottom: 100px;
}

#enviarDuvida{
    width: 100%;
    background-color: #835ba7;
    color: #bffa87;
    border: none;
    font-weight: 400;
}

#enviarDuvida:hover{
    background-color: #6e4a8d ;
}


/* jogo */
.img_carrosel_jogo{
    width: 100%;
    height: 310px;
    object-fit: cover;
    margin-bottom: 100px;
}

#container_sobrenos{
margin-bottom: 100px;
margin-top: 50px;
}

#paginaduvidas{
text-decoration: none;
color: #986ec0;
}

#paginaduvidas:hover{
text-decoration: none;
color: #815ca5;
}

#jogo{
    margin-bottom: 200px;
}

/* tabelaaaaaa testandoooo */

#tecidotabela{
    width: 55%;
}

#tabelaTecidos{
    margin: 80px auto;
}

table{
    background-color: #60006d1b;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 14px;
    display: inline;
}

thead{
    background-color: #623f80;
    color: #ffffff;    
    font-size: 15px;

}

td,th{
    border:none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}


th{
    border: none;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #checkbox, #lancamento2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    /*  edição tecidos */


    #formEditarTecido{
        text-align: left;
        background-color: #e9e2f0;
        padding: 20px;
        border-radius: 20px;
        color: #60006d;
        box-shadow:  2px 2px 5px #a18eaaa9;
        margin-bottom: 100px;
        margin-bottom: 200px;
    }

    #tituloTecido{
        margin-bottom: 3%;
        color: #411964;
    }

    /* botão de quiz */

    .quiz-btn {
        animation: pulse 1.5s infinite;
        position: relative;
      }
      
      .quiz-btn::before {
        content: "Iniciar quiz!";
        display: block;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 15px;
        background-color: #147cb6;
        color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.219);
        padding: 5px 10px;
        background-color: #126ea0;
        border: 0.5px solid #147cb6;
        border-radius: 5px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        opacity: 1;
        transition: opacity 0.3s ease;
        font-size: 20px;
      }
      
      .quiz-btn::after {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 10px 0 10px;
        border-color: #000000 transparent transparent transparent;
        border-top-color: #147cb6;
        z-index: -1;
      }
      
      
      .quiz-btn::before {
        opacity: 1;
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }

    /* aqui é da pagininha de recupera email ta bebes */
    .input_confirma_email{
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 4px;
    }
    .input_confirma_email:focus {
        border-color: #007bff;
        box-shadow: none;
    }
      

    .erro-preencher {
        color: red;
        display: none;
        margin-top: 5px;
    }
    
    .erro-preencher.show {
        display: block;
        animation: fade-in 0.3s ease-in-out;
    }

    .erro-border-preencher:focus {
        border-color: red !important;
        box-shadow: none !important; 
    }
    
    .erro-preencher::before {
        content: "\26A0";
        color: red;
        font-size: 18px;
        margin-right: 5px;
    }
    
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }  