body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#jogoCanvas {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;    
    background-image: url('../assets/fundo.png');     
    position: relative;

}


p{
    margin-top: 10px;
    margin-bottom: 10px;
}

#imgpersonagem{
    width: 200px;
    height: 200px;
}

#guessTitulo{
    color: #000000;
    margin: auto 0px;
}

  #gameContainer {
    position: relative;
  }
  
  #jogoCanvas {
    width: 800px; /* Ajuste conforme necessário */
    height: 600px; /* Ajuste conforme necessário */
  }
  
  #htmlContent {
    position: absolute;
    top: 0;
    left: 0;
    /* Ajuste as coordenadas de posicionamento conforme necessário */
  }

  .disable-scroll {
    overflow: hidden;
  }


  /* Carrosel instruções: */


  #instrucoes{
  }

  #popup_instrucoes{
  }
  #indicadoresCarrosel{
    margin-top: 20px;
    background-color: #8050b1ab;
    padding: 8px;
    border-radius: 20px;
  }
    
.carousel-item  {
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 500px;
}

.instrucao{
  width: 90% !important;
  align-items: center !important;
}

#instrucao1{
  width: 40%;
  margin: auto;
}

#next_jogo,
#ante_jogo {
    color: #ffffff;
    background-color: #623f80;
    border-radius: 20px;
    padding: 8px;

}

#next_jogo:hover,
#ante_jogo:hover {
    color: #efff14;
    background-color: #623f80;
}
