* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#esqueceuSenha{
    text-decoration: none;
    color: #350046;
    font-size: 10pt;
    text-align: center;
    padding-bottom: 10px;
}

#body_login{
    background-image: url("fundo_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    backdrop-filter: brightness(25%);
    display: inline-block;
    width: 100%;
}

#escurecendo-body{
    background-color: #00000091;
    margin-top: 0%;
}

.texto_inicial{
    margin-top: 35%;
    text-align:center;
    color: #F1E9E9;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

#senhahelp{
    color: #364230;
    margin-top: 5px;
    margin-left: 20px;
    padding-bottom: 0px;
}
.forms{
    border-radius: 20px;
}

#forms_login{
    margin: auto;
    border-radius: 40px;
    background-color:#b3d39e ;
    padding: 25px;
    padding-top: 8px;
    text-align: left;
    color:#364230;
    width: auto;
    box-shadow:  3px 3px 2px #000000a9;
    font-size: clamp(0.8em, 0.8em + 1vw, 1.2em);
    font-weight: 500;
    padding-bottom: 45px;
}

#apelido_login, #senha_login{
    border-radius: 20px;   
}

#apelido_login:focus, #senha_login:focus{
    color: #2c5300;
    box-shadow: 0 0 3px #2c5300;
    border: #2c5300;
    
}


#login_i{
    background-color: #83000000;
    margin-top: 10%;
    margin-bottom: 30%;
}

#legend_login{
    margin: auto;
    text-align: center;
    
}
#logo{
    width: 40%;
}


#btnnovaconta{
    background-color: #8d60b4;
    color: #fdfffa;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    margin-top: 3%;

}

#btnlogin{
    background-color: #432b58;
    color: #fcfff8;
    border-radius: 15px;
    width: 100%;
    border: none;
    margin-bottom: 3%;
    font-weight: 400;
}

#btnlogin:hover{
    background-color: #623f80;
    color: #d1f5a1;
}

#btnnovaconta:hover{
    background-color: #572a80;
    color: #d1f5a1;
}

#botao_inserir{
    width: 100%;
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
}

#modalNovoUsuario{
    margin-top: 5%;
}

#rodape_login{
    background-color: #623f80;
    color: #67b16d;
    clear: both;
    position: absolute;
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%; 
    padding-top: 20px;   
    text-decoration: none;
}

#sobre_nos_login{
    text-decoration: none;
    color: #89e791;
}

#icon{
    position: absolute;
    top: 42%;
    right: 30px;
    transform: translateY(-50%);
    background: URL('mostrar.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 8px;
}

#icon.ocultar {
    background: URL('ocultar.png');
    background-size: cover;
}

#icon_cadastro {
    position: absolute;
    top: 458px;
    right: 30px;
    transform: translateY(-50%);
    background: URL('mostrar.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#icon_cadastro.ocultar {
    background: URL('ocultar.png');
    background-size: cover;
}

/* EDIÇÃO USUÁRIO */

#meus_dados{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #350046;
    font-size: 24pt;
}
#field_edicao_usuario{
    text-align: left;
    background-color: #e9e2f0;
    padding: 20px;
    border-radius: 20px;
    color: #60006d;
    box-shadow:  2px 2px 5px #a18eaaa9;
    margin-bottom: 100px;
}

#botao_editar_usuario, #botao_editar{
    background-color: #623f80;    
    border: none;
    color: #efff14;
    width: 100%;
}

#botao_editar_usuario:hover{
    background-color: #4a3061;
    color: #efff14;
}

#modal_tecidos{
    text-align: left;
}

#checkbox{
    text-align: center;
}

#txt_tecidos{
    color: #350046;
}
/* NAVEGAÇÃO */

#btnmeuperfil{
    cursor: pointer;
}

.btnmeuperfil:hover{
    color: black;
}

#icone_game, #icone_perfil, #icone_sair{
    vertical-align: middle;
}

#icone_perfil, #icone_sair{
    margin-right: 10px;
}


#icone_sair{
    color: #2c5300;
}

#icone_perfil{
    color: #623f80;
}


#button_perfil{
    cursor: pointer;
}


#icone_sobrenos:hover, #menu_home:hover, #icone_home:hover, #menu_portal:hover, #menu_tecidos:hover, #game:hover, #icone_game:hover, #icone_menu:hover, #menu_m:hover, #ajuda:hover, #icone_ajuda:hover{
        background-color: #240f36;
        color: #efff14;
}

.nav-link{
    background-color: #f1f7e0;
    color: #2d4931;
    margin-right: 15px;
    border-radius: 55px;
    border: none;
    align-items: center;  
    height: 45px;
}

.navbar-text, .navbar-brand{
    height: 75px;     
 
}

.container{
text-align: center;
}


nav{
    border: none;
    background-color: #623f80;
    box-shadow:  2px 2px 5px #a18eaaa9;
    margin-bottom: 20px;
}

#menu_ajuda{
    margin-left: 230px;
}

/* PÁGINA TECIDOS */

.card{
    align-items: center;
    margin-top: 40px;
    text-align: center;
    width: 18rem;
    height: 25rem;
    margin-right: 20px;
}

#container-tecidos{
    display: block;
}

#imgtecido1, #imgtecido2, #imgtecido3{
    width: 80%;
}

#tecidos{
    margin-bottom: 100px;
    margin-top:50px;

}

#tecido1, #tecido2, #tecido3{
    background-color: #f5eff5;
    padding: 30px;
    border: none;
    border-radius: 30px;
    height: auto;
    width: 320px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px #31313156;
   
}


#tecido1_usu, #tecido2_usu, #tecido3_usu{
    background-color: #f5eff5;
    padding: 30px;
    border: none;
    border-radius: 30px;
    height: auto;
    width: 320px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px #31313156;
}

#tecido2_usu, #tecido3_usu{
    background-color: #d3d3d3;
}

#card1{
    width: auto;
    height: auto;
}

#card2{
    width: auto;
    height: auto;
}

#card3{
    width: auto;
    height: auto;
}
#visao_adm, #visao_usu{
    vertical-align: middle;
    margin-left: 5px;
    color: #f0f8e5;
}

#visaoadm, #visaousu{
    border-radius: 20px;
    font-size: 10pt;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 8px;
    background-color: #623f80;
    color: #f0f8e5;
    margin-top: 20px;
    box-shadow: 3px 3px 10px #432b5813;
}

#btncadastrartecido:focus, #botao_inserir_tecido:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#btncadastrartecido:hover{
    background-color: #44265e;
    color: #f0f8e5;
}

#btncadastrartecido{
    width: 15%;
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
    margin-top: 5%;
}

#botao_inserir_tecido{
    width: 100%;
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
}

#saibamais, #saibamais2, #saibamais3, #saibamais4{
    background-color: #572a80;
    color: #ffffff;
    border: none;
}

#row_cadastrar{
    margin-top: 20px;
}

.btndelete, .btnedit{
    border: none;
    border-radius: 3px;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px;
}

.btndelete:hover, .btnedit:hover{
    border: none;
    box-shadow: 0 0 2px #364230;
}

.btndelete:focus, .btnedit:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btndelete{
    background-color: #ff1c1c;
}

.btnedit{
    background-color: #572a80;
}

#btndelete1, #btndelete2, #btndelete3, #btnedit1, #btnedit2, #btnedit3{
    color: #ffffff;
    border: none;
}


/* PORTAL DE NOTÍCIAS */

#carrosel{
    border-radius: 300px;
    margin: auto;
    width: 800px;
    height: 500px;
    box-shadow: 2px 2px 6px #00000018;
    margin-top: 20px;
    margin-bottom: 7%;
}

#txt_portal, #txt_portal2{
    margin-top: 10px;
    margin-bottom: 20px;  
    text-align: center;  
}

#portal_de_noticias{
    margin-top: 30px;
}

#filtros_menu{
    width: 320px;
}

.img_carrosel{
    border-radius: 300px;
    width: auto;
    margin: auto;
    width: 800px;
    height: 500px; 
    box-shadow: 2px 2px 6px #00000018;
    object-fit: cover;
    filter: brightness(0.45);
    margin-bottom: 100px;
}
  #filtros_{
    background-color: #581b69;
    border: none;
    color: #d1f5a1;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 180%;
}
#filtros_menu{
    width: 180%;
}
#btn_filtros{
    background-color: #d1f5a1;    
    border: none;
    color: #581b69;
    margin-left: 10px;
    width: auto;
    left: 0;
}

#btn_filtros:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#seta_filtro{
    vertical-align: middle;
}

#btn_pesquisar_noticia{
    width: auto;
align-items: right;
}

/* rodapé */

#divenviarEmail{
    margin-top: 2%;
    margin-bottom: 2%;
}

#enviarEmail{
    background-color: #4b0b69;
    padding: 12px;
    border-radius: 50px;
}

#enviarEmail:hover{
    background-color: #370a4d;
}
#icone_gmail{
    width: 2%;
    margin-bottom: 3px;
}

#rodape {
    background-color: #623f80;
    color: #b3d39e;
    clear: both;
    position: relative;
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;        
    padding-top: 20px;   
    text-decoration: none;
    box-shadow: 3px 3px 5px 3px #1b1025;
}

#sobre_nos{
    color: #89e791;
}

#sobre_nos:hover{
    text-decoration: none;
    color: #a6ffad;
}

#copy-area{
    background-color: #350046;
    text-decoration: none;
    padding-top: 20px;
}


/* site externo */

.field_site_externo{
   border: none;
   background-color: #f0f8e5;
   margin-top: 20px;
   text-align: left;
   padding-left: 20px;
   padding-top: 15px;
   border-radius: 8px;
   height: auto;
   box-shadow:  3px 3px 10px #1d421f49;
}

.field_site_externo:hover{
    background-color: #e0fcb983;
}

#todos_field{
    margin-bottom: 160px;
    margin-top: 10px;
}

.link_site_externo{
    text-decoration: none;
    color: #580f6e;
}

.link_site_externo:hover{
    text-decoration: none;
    color: #580f6e;
}

#icone_voltar_noticias{
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
    border-radius: 20px;
    padding: 8px;
    vertical-align: middle;
    box-shadow: 3px 3px 8px #580f6e18;

}

#icone_voltar_noticias:hover{
    background-color: #580f6e;
    color: #f0f8e5;
    box-shadow: 3px 3px 8px #580f6e18;

}

#icone_voltar_noticias:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#filtros_menu2{
    width: 310px;
}



#visaoadm_noticias, #visaousu_noticias{
    border-radius: 20px;
    font-size: 10pt;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 8px;
    background-color: #623f80;
    color: #f0f8e5;
    margin-top: 20px;
    box-shadow: 3px 3px 10px #432b5813;
}


#btncadastrarnoticia{
    margin-right: 10px;
    width: 50px;
    background-color: #623f80;
    color: #f0f8e5;
    border: none;
}

#btncadastrarnoticia:focus{
    box-shadow: 0px 0px 8px #5e397e42;
    outline: 0;
}

#filtros2_{
    background-color: #581b69;
    border: none;
    color: #d1f5a1;
    vertical-align: middle;
    margin-top: 10px;
    width: 310px;
}

#filtros3_{
    background-color: #581b69;
    border: none;
    color: #d1f5a1;
    vertical-align: middle;
    margin-top: 10px;
    width: 360px;
}

#filtros_menu3{
    width: 360px;
}
.btns_noticias{
    margin-bottom: auto;
    margin-top: auto;
    text-align: left;    
    vertical-align: middle;
}

#todos_field_adm{
    margin-bottom: 160px;
    margin-top: 10px;
}

.modal{
    text-align: left;
}

#voltar_adm{
    background-color: #00000000;
}

#botao_inserirnoticia{
    background-color: #623f80;
    color: #efff14;
    border: none;
}    

    #botao_inserirnoticia:hover{
    background-color: #422758;
    color: #efff14;
    border: none;
}


/* Imagens página incial */

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
  }
  .carousel-indicators li {
    color: #efff14 !important; 
  }
  .indicador{
    color: #efff14;
  }

#carroselIntrod{
    background-image: url("fundo_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    background-color: #67b16d00;
    display: inline-block;
    border-radius: 300px;
    width: auto;
    margin: auto;
    height: auto;
    width: 1000px;
    height: 500px; 
    box-shadow: 2px 2px 6px #00000018;
}
#ecoAge_inicial{
    font-size: 14pt;
    color: #580f6e;
    font-weight: bold;
}
.nosso_nominho{
    color: #350046;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
}

.nosso_nominho:hover{
    color: #350046;
    text-decoration: none;
}

#menu_home_paginaI{
    background-color: #422758;
    color: #efff14;
}


#Ana_img, #Edu_img, #Gabi_img{
    width: 200px;
    margin: auto;
    margin-top: 20%;
    background-color: #eef8efdb;
    border-radius: 200px;
    padding: 0px;
}
.carroselInicial{
    height: auto;
    width: auto;
    margin: 8% auto;
    vertical-align: middle;
    align-items: center;    
    display: flex;
}

.destaque{
    color: #6f3295;
    font-size: 14pt;
    font-weight: 500;
}

#texto_inicial_edu, #texto_inicial_ana, #texto_inicial_gabi{
    text-align: center;
    margin: auto;  
    margin-left: 4%;
    font-size: 13pt;
    background-color: #eef8ef;
    color: #653292;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    border-radius: 200px;
}

#apresentacao_home{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* pagina de ajuda/duvidassss */
#duvidas_frequentes {
    text-align: center;
    color: #1b1025;
    margin-top: 20px;
}

#caixas_duvidas{
    margin-top: 30px;
    margin-bottom: 50px;
}


#duvida1, #duvida2, #duvida3, #duvida4{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    display: block;
    margin: auto;  
    width: auto; 
    height: auto;
}

#next, #ante{
    color: #ffffff;
    background-color: #623f80;
    border-radius: 20px;
    padding: 8px;
    margin-left: 50px;
    margin-right: 50px;
}

#next:hover, #ante:hover{
    color: #efff14;
    background-color: #623f80;
}


#carrosel_duvidas{
    object-fit: cover; 
    padding: 30px;
    border-radius: 100px;
    width: 100%;
    height: 165px;
    background-color: #aeca9346;
    box-shadow: 2px 2px 6px #00000018;
}

#pagina_de_duvidas{
    margin-bottom: 100px;
}

#enviarDuvida{
    width: 100%;
    background-color: #835ba7;
    color: #bffa87;
    border: none;
    font-weight: 400;
}

#enviarDuvida:hover{
    background-color: #6e4a8d ;
}

/* sobre nós */

#txt_sobre_nos{
    padding-bottom: 25px;
    font-style:normal;
    /*font-variant:small-caps;*/
}

#sobre_nos_ana, #sobre_nos_edu, #sobre_nos_gabi{
   
    display: inline-block;
   
}

#txt_apresentacao{
    display: flex;
    
}

/* jogo */
.img_carrosel_jogo{
    width: 100%;
    height: 310px;
    object-fit: cover;
    margin-bottom: 100px;
}

#container_sobrenos{
margin-bottom: 100px;
margin-top: 50px;
}

#paginaduvidas{
text-decoration: none;
color: #986ec0;
}

#paginaduvidas:hover{
text-decoration: none;
color: #815ca5;
}

#jogo{
    margin-bottom: 200px;
}

/* tabelaaaaaa testandoooo */

#tecidotabela{
    width: 55%;
}

#tabelaTecidos{
    margin: 80px auto;
}

table{
    background-color: #60006d1b;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 14px;
}

thead{
    background-color: #623f80;
    color: #ffffff;    
    font-size: 15px;

}

td,th{
    border:none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}


th{
    border: none;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #checkbox, #lancamento2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    /*  edição tecidos */


    #formEditarTecido{
        text-align: left;
        background-color: #e9e2f0;
        padding: 20px;
        border-radius: 20px;
        color: #60006d;
        box-shadow:  2px 2px 5px #a18eaaa9;
        margin-bottom: 100px;
        margin-bottom: 200px;
    }

    #tituloTecido{
        margin-bottom: 3%;
        color: #411964;
    }
